{{#each this}}
<li class="card-box">
    <div class="box-image">
        <img class="one-movie-image" src="https://image.tmdb.org/t/p/w400/{{poster_path}}" alt="Poster">
    </div>
    <div class="box-content">
        <h2 class="content-title">{{title}}</h2>
        <ul class="content-list">
            <li class="content-item">
                <p class="item-part">Vote / Votes </p>
                <span class="item-data item-data--accent">{{vote_average}}</span><span> / </span>
                <span class="item-data item-data--accent item-data--grey">{{vote_count}}</span>
                {{!-- <p class="rating"></p> --}}
            </li>
            <li class="content-item">
                <p class="item-part">Popularity</p> <span class="item-data">{{popularity}}</span>

            </li>
            <li class="content-item">
                <p class="item-part">Original Title</p> <span class="item-data">{{original_title}}</span>

            </li>
            <li class="content-item">
                <p class="item-part">Genre
                <ul class="genre-list">
                    {{#each genres}}
                    <li class="item-data genre-data">{{this.name}}</li>
                    {{/each}}
                </ul>
                </p>

            </li>
        </ul>
        <h3 class="title-text">About</h3>
        <p class="text">{{overview}}</p>
        <div class="box-btn">
            <button id="add-watched" class="btn btn--accent">add to Watched</button>
            <button id="add-queue" class="btn">add to queue</button>
        </div>
    </div>
</li>
{{/each}}